
.dropdown button,
.dropdown-menu,
.navbar-toggler {
    border: none !important
}

.dropdown-menu,
nav {
    background-color: #fff;
  
}

.card a:hover,
.descripcion a:hover {
    transform: scale(1.1);
    transition: .5s
}




#recetas .filtro h1,
#recetas .filtro select,
#recetas button,
.dropdown button,
.nav-item button,
.nav-item ul li a,
.set-card .titulo-card h3,
form input {
    font-family: ' monserrat-bold' !important
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../font/Montserrat/static/Montserrat-Bold.woff2');
    font-style: bold;
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf');

    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: 'Ralewey';
    src: url('../font/Raleway/static/Raleway-Bold.woff2');
    font-style: bold;
    font-weight: 700;
    font-display: swap;

}

@font-face {
    font-family: 'Bayon';
    src: url('../font/Bayon/Bayon-Regular.ttf');
}




h1,
h3 {
    font-family: ' montserrat-bold'
}

h2 {
    font-family: ' Raleway'
}

p {
    font-family: 'Lato';
}

.dropdown-menu,
.dropdown-menu li a,
a {
    font-family: ' monserrat-bold'
}

nav {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1)
}

.navbar .navbar-brand {
    color: rgb(8, 8, 8);
    font-size: 40px;
    font-family: "Bayon" !important;
    padding-right: 40px;
}

.navbar-toggler {
    box-shadow: none !important
}

.card a,
.cont-recetas-menor {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1)
}

button span i {
    color: #000 !important;
    font-size: 30px
}

.nav-link {
    color: #fff !important;
    font-size: 20px !important
}

.dropdown button {
    background: 0 0;
    color: #000;
    font-size: 20px !important;
    padding-left: 0
}

form button {
    background: 0 0;
    border: none;
    color: #635f5f;
    font-size: 20px
}

.nav-item ul li a {
    font-size: 18px !important
}

.espacio {

    padding-top: 110px;
  
}


.primera_seccion {

    background-image: url(../img/knives.webp);
    background-size: cover;
 

    
    
}


.titulo h1 {
    font-size: 200px;
    font-weight: 900;
    font-style: bold;
    color: white;
    padding-left: 20px;
    padding-bottom: 50px;
}

.contenedor_iconos {
    background-color: white;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}


.iconos .contenedor {
    width: 100%;
    padding-left: 70%;
   
}

.iconos a img {
    width: 120px;
    height: 120px;
}



.iconos a img:hover {

    transform: scale(1.1);
    transition: all 0.5s;
    padding: 20px;



}
.contenedor_guias{
    padding-left: 40px !important;
   
}

.contenedor_guia {
    padding: 30px;
   

}
.guia{
    width: 100%;
    padding: 10px;
   
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.guia:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    text-decoration: underline;
}
.guia a{
    text-decoration: none;
    color: black;
}
.contenedor_img{
    width: 100%;
}
.contenedor_img img{
    width: 100%;
    height: auto;
}

.contenedor_img {
    width: 100%;
}
.contenedor-anuncio{
   
  
    padding-top: 40px;
    position: relative;
    
}
.anuncio{
    width: 100%;
    height:85vh;
    top: 100px;
    right: 0;
    background-color:  #fff3e0;
    position: sticky;
}













footer {
    background-color: #fff3e0;
    padding: 20px;
    overflow: hidden;
}

footer h2 {
    font-weight: 900;
    font-size: 35px;
    color: #000
}

footer h1 {
    font-size: 13px
}

footer ul {
    list-style-type: none
}

footer ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 600
}

footer ul li:hover {
    text-decoration: underline solid 1px black
}


@media screen and (max-width:767px) {

    main,
    body {
        overflow-x: hidden !important
    }

    footer h2 {
        font-weight: 900;
        font-size: 30px;
        color: #000
    }

    .navbar .navbar-brand {
        font-size: 27px;
        padding-right: 0
    }
    .titulo h1 {
        font-size:70px;
        text-align: justify;
    }
 
    .contenedor_iconos {
        background-color: white;
        margin: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      
      
    }
    
    
    .iconos .contenedor {
        display: flex;
        width: 100%;
       justify-content: center;
       align-items: center;
       padding: 0px;
       
    }
    
    .iconos a img {
        width: 60px;
        height: 60px;
    }
    
    
    
    
  
    .contenedor-anuncio{
        padding-bottom: 20px;
    }
    .anuncio{
        width: 100%;
        height:60vh;
        top: 100px;
        right: 0;
        background-color:  #fff3e0;
        position: sticky;
    }
    .contenedor_guias{
        padding-left: 30px !important;
       
    }
    .contenedor_guia{
        padding-left: 0px !important;
    }
    .guia{
        padding-left: 0px !important;
    }
}