@font-face {
    font-family: 'montserrat-bold';
    src: url('../font/Montserrat/static/Montserrat-Bold.ttf=swap');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf=swap');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../font/Lato/Lato-Regular.ttf=swap');

}

@font-face {
    font-family: 'Ralewey';
    src: url('../font/Raleway/static/Raleway-Bold.ttf=swap');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: Bayon;
    src: url('../font/Bayon/Bayon-Regular.ttf=swap');
}


* {
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

h1 {
    font-family: ' montserrat-bold';
}

h2 {
    font-family: ' Raleway';
}

h3 {
    font-family: ' montserrat-bold';
}

p {
    font-family: 'Lato';
}

a {

    font-family: ' monserrat-bold';

}

nav {

    background-color: white;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}



.navbar .navbar-brand {
    color: rgb(8, 8, 8);
    font-size: 40px;
    font-family: "Bayon" !important;
    padding-right: 40px;


}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

button span i {
    color: black !important;
    font-size: 30px;
}

.nav-link {
    color: white !important;
    font-size: 20px !important;
}



.dropdown button {
    background: none;
    border: none !important;
    color: rgb(0, 0, 0);
    font-size: 20px !important;
    font-family: ' monserrat-bold' !important;
    padding-left: 0;

}


form button {
    background: none;
    border: none;
    color: rgb(99, 95, 95);
    font-size: 20px;
}

.dropdown-menu {
    border: none !important;
    background-color: white;

    font-family: ' monserrat-bold';
}

.dropdown-menu li a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: ' monserrat-bold';
}

.dropdown-menu li a:hover {
    background-color: transparent !important;
    text-decoration: underline;
}

form input {
    outline: none !important;
    border: 1px solid black !important;
    box-shadow: none !important;
    font-family: ' monserrat-bold' !important;

}

.nav-item button {
    font-family: ' monserrat-bold' !important;
   

}
.nav-item ul li a{
    font-family: ' monserrat-bold' !important;
    font-size: 18px !important;
}

footer{
    background-color:#fff3e0;
    padding: 20px;
}
footer h2{
    font-weight: 900;
font-size: 35px;
color: black;}
footer h1{
    font-size: 13px;
}

footer ul {
 
    list-style-type: none;
}
footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
footer ul li:hover{
    text-decoration: underline solid 1px black;
}

main {
    overflow-x: hidden;

}

.ba {
    background-color: #fef9f0;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;



}

.contenedor-padre {
    width: 100%;
    height: 120vh;



}

.contenedor {
    position: relative;
    width: 100%;

    height: 120vh;
}

main .fondo {
    background-color: #eacfa6d7;
    position: absolute;
    width: 500px;
    height: 550px;
    left: 100px;
    top: 145px;
}

main .imagen {
    top: 230px;
    left: 190px;
    position: absolute;
    width: 650px;
    height: 500px;

}

main .contenedor-padre .imagen img {
    border-radius: 1%;
}

.contenedor-descripcion {

    place-items: center;
    width: 100%;
    height: 120vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;


}

.descripcion h3 {
    color: #000000;
    text-align: left;
    font-weight: 900;
    font-size: 40px;
}

.descripcion p {
    text-align: justify;
}

.descripcion a {
    border-radius: 10%;
    color: black;
    background-color: #cfb05c;

    font-family: ' montserrat-bold'
}

.descripcion a:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    color: white;
    background-color: #cfb05c;
}

.contenedor-anuncio {
    place-items: center;
    width: 100%;
    height: 120vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;

}

.anuncio-1 {
    place-items: center;
    width: 100%;
    height: 120vh;
    justify-content: center;

}

.set-card {

    padding: 20px;
}

.card {
    border: none !important;


}

.set-card {
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 10px !important;

}

.set-card .titulo-card {
    text-align: left !important;

}

.set-card .titulo-card h3 {
    font-weight: 900;
    padding: 4px;
    font-size: 60px;
    padding-bottom: 10px;
    font-family: ' monserrat-bold' !important;
    font-style: unset;

}

.card a {
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0% 0% 2% 2%;




}

.card a:hover {
    text-decoration: underline rgb(219, 192, 86) solid 1px;
    transform: scale(1.1);
    transition: all 0.5s;
}

.card a small {
    font-family:
        "Lato";
    font-size: 11px;

    padding: 4px;

}

.card a h3 {
    font-family: ' montserrat-bold';
    font-size: 20px;
    font-weight: 600;
    font-weight: 700;
    font-size: 18px;
    padding: 4px;
    text-align: left;

}

.card .imagen-card {
    height: auto;
   
}

.card .imagen-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.back_titulo {
    text-align: center !important;

}

.back_titulo h2 {
    font-weight: 900 !important;
    font-size: 190px !important;
}

.back_color .back_icono {
    color: #000000;
}

.back_color .back_icono {
    font-size: 120px;
}

.back_color {
    background-color: #fef9f0;
    padding: 50px !important;



}

.back_color .contenedorCard {
    overflow-x: auto !important;
    scrollbar-width: none;
    display: flex;
    padding: 1.5rem 0;

    justify-content: center;


}

.back_color .cards {
    width: 320px;
}

.back_color .cont-recetas {
    height: 500px;
    position: static;
    width: 320px;
    overflow-y: hidden;



}

.cont-recetas-menor {
    width: 320px;
    background-color: white;
    text-align: justify;
    padding: 15px;
    width: 90%;
    border-radius: 0% 0% 10% 10%;
    position: relative;
    bottom: 20%;
    left: 5%;
    padding-top: 95px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.back_color .cont-recetas img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    z-index: 1;


}

.cont-recetas-menor h2 {
    font-size: 25px;
    font-weight: 900 !important;

}

.cont-recetas-menor p {
    font-size: 15px;
    font-weight: 100 !important;
}

.cont-recetas-menor a {
    text-align: center !important;
    text-decoration: underline;
    color: #cfb05c;


    font-size: 20px;



}


#recetas .filtro{
    padding-top: 110px;
    /*background-color: #edd5b2;*/
   background-image: url("/img/back_re.webp") ;
    background-size: cover;
 
   
}
#recetas .filtro h1{
    font-family: ' monserrat-bold' !important;
    font-size:80px;
    font-weight: 900;
    padding-left: 20px;
    color: white;
}
#recetas .filtro select{
    width: 220px;
    height: 35px;
    background-color: white;
    border: none;
    margin: 20px;
    font-family: ' monserrat-bold' !important;
    
}
#recetas .spacio-but{
    
    height: 50px;
}
#recetas button{
    border-radius: 10%;
    background-color:#cfb05c;
    font-family: ' monserrat-bold' !important;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 4px;
    width: 150px;
    color: black;
}
#recetas button:hover{
   
    transition: all 0.5s;
    color: #cfb05c;
background-color: white;
border:  solid  #cfb05c 1px;

}













/* Media query para pantallas pequeñas (móviles) */
@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    footer h2{
        font-weight: 900;
    font-size: 30px;
    color: black;}

    .navbar .navbar-brand {

        font-size: 35px;
        font-family: "Bayon" !important;
        padding-right: 40px;

    }

    .contenedor-padre {
        width: 100%;
        height: 50vh;




    }

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        position: relative;
        width: 100%;
        height: 50vh;


    }

    main .fondo {
        background-color: #eacfa6d7;
        position: absolute;
        width: 75%;
        height: 41%;
        left: 6%;
        top: 28%;
    }

    main .imagen {


        position: absolute;
        width: 100%;
        height: 40%;
        left: 20%;
        top: 39%;
        width: 77%;


    }

    main .imagen img {
        width: 100%;
        height: 100%;

    }

    .contenedor-descripcion {

        place-items: center;
        width: 100%;
        height: 30vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;

        padding-left: 20px;
        padding-right: 20px;



    }

    .contenedor-anuncio {
        place-items: center;
        width: 100%;
        height: 15vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        padding: 20px;


    }

    .descripcion h1 {
        color: #010101;
        text-align: left;
        font-weight: 900;
        font-size: 40px;
    }

    .descripcion p {
        text-align: justify;
    }

    .descripcion a {
        border-radius: 10%;
        background-color: #cfb05c;
        color: white;

        font-family: ' montserrat-bold'
    }

    .anuncio-1 {
        place-items: center;
        width: 100%;
        height: 10vh;

        justify-content: center;

    }

    .set-card {
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-top: 1% !important;

    }

    .card .imagen-card {
        width: 65%;
        height: auto;
    }
    .card .nombre-card{
        padding: 0px;
        width: 35%;
    }

    .set-card .titulo-card h3 {
        font-size: 35px;
    }

    .back_titulo h2 {

        font-size: 55px !important;
    }

    .back_color .back_icono {
        font-size: 120 0px;
    }

    .back_color .contenedorCard {


        justify-content: left;


    }
    /********pagina de recetas**************/
   
    #recetas .filtro h1{
        font-family: ' monserrat-bold' !important;
        font-size:50px;
        font-weight: 900;
        padding-left: 20px;
        color: white;


    }
    #recetas .filtro select{
        width: 140px;
        height: 35px;
        background-color: white;
        border: none;
        margin: 5px;
        margin-top: 10px;
        
    }

}

/* Media query para pantallas medianas (tabletas) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
        background-color: #f0f0f0;
    }

}